body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.pseudo-body {
    left: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 760px;
    overflow: hidden;
    z-index: 0;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.home-page {
  visibility: visible;
}

.settings-page {
  visibility: hidden;
}

header {
    height: 8%;
    width: 100%;
    -webkit-app-region: drag;
}

.background-img {
    left: -19px;
    top: -56px;
    position: absolute;
    width: 1200px;
    height: 760px;
    z-index:4;
    filter: blur(15px);
}

#settings-memory {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  position: absolute;
  left: calc(50% - 200px);
  top: 263px;
  width: 400px; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  z-index: 100;
  border-radius: 5px;
  overflow: hidden;
}

#settings-memory-label {
  position: absolute;
  left: calc(50% - 100px);
  text-align: center;
  width: 200px;
  top: 229px;
  font-size: 14px;
  z-index: 100;
  color: #1A1E1D;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  font-weight: bolder;
  font-variant: small-caps;
  text-transform: uppercase;
}

#settings-memory-value {
  position: absolute;
  left: calc(50% - 260px);
  top: 248px;
  z-index: 100;
}

#settings-memory::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #818181;
  cursor: pointer; /* Cursor on hover */
  z-index: 100;
}

.settings-boundingbox {
    left: calc(50% - 300px);
    top: 233px;
    position: absolute;
    width: 600px;
    height: 296px;
    z-index: 16;
    background-color: white;
    border-radius: 10px;
}

.logo {
    left: 10px;
    top: 10px;
    position: absolute;
    z-index: 13;
  }

.close-button {
    left: 1175px;
    top: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 8;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.minimize-button {
    left: 1150px;
    top: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 8;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.settings-tab {
    left: 137px;
    top: 50px;
    position: absolute;
    width: 80px;
    height: 20px;
    z-index:10;
    font-size: 20px;
    letter-spacing: 3.2px;
    word-spacing: 2px;
    color: #C4C4C4;
    font-family: Bender;
    text-transform: uppercase;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.home-tab {
    left: 280px;
    top: 50px;
    position: absolute;
    width: 50px;
    height: 20px;
    z-index:11;
    font-size: 20px;
    letter-spacing: 3.2px;
    word-spacing: 2px;
    color: #C4C4C4;
    font-family: Bender;
    text-transform: uppercase;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.store-tab {
    left: 380px;
    top: 50px;
    position: absolute;
    width: 90px;
    height: 20px;
    z-index:12;
    font-size: 20px;
    letter-spacing: 3.2px;
    word-spacing: 2px;
    color: #C4C4C4;
    font-family: Bender;
    text-transform: uppercase;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.account-tab {
    left: 1050px;
    top: 50px;
    position: absolute;
    width: 90px;
    height: 20px;
    z-index:12;
    font-size: 20px;
    letter-spacing: 3.2px;
    word-spacing: 2px;
    color: white;
    font-family: Bender;
    text-transform: uppercase;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.account-tab-arrow {
    left: 1030px;
    top: 55px;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index:12;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.horizontal-line{
    left: 0px;
    top: 120px;
    border-bottom: 1px solid white;
    position: absolute;
    width: 1200px;
    z-index:12;
    -webkit-app-region: no-drag;
}

/* .client-name-1 {
    left: calc(50% - 100px);
    top: calc(15%);
    position: absolute;
    z-index: 14;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
}

.client-name-2 {
    left: calc(50% + 8px);
    top: calc(25%);
    position: absolute;
    z-index: 14;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
} */

.blog-title-holder {
    left: 203px;
    top: 245px;
    position: absolute;
    width: 550px;
    height: 8px;
    z-index: 19;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.blog-boundingbox {
    left: calc(50% - 445px);
    top: 233px;
    position: absolute;
    width: 890px;
    height: 296px;
    z-index: 16;
    background-color: #242323;
    border-radius: 10px;
}

.blog-content-holder {
    left: 203px;
    top: 276px;
    position: absolute;
    width: 817px;
    height: 134px;
    z-index: 18;
    font-size: 14px;
    line-height: 16pt;
    color: white;
    font-weight: normal;
}

.blog-read-more {
    left: 144px;
    top: 490px;
    position: absolute;
    width: 817px;
    height: 29px;
    z-index: 16;
    font-size: 14px;
    line-height: 16pt;
    color: #818181;
    font-weight: normal;
}

.blog-read-button {
    width: 853px !important;
    height: 25px !important;

    background-color: rgb(33, 152, 207);

    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;/*17px*/

    text-align: center;
    cursor: pointer;
}

.blog-read-button:hover {
    background-color: rgb(110, 186, 221);
}

.blog-read-link {
    color: white;
    text-decoration: none;
}

.blog-author-holder {
    left: 203px;
    top: 256px;
    position: absolute;
    height: 10px;
    z-index: 22;
    font-size: 12px;
    color: #818181;
    font-weight: 600;
}

.blog-author-skin {
    left: 162px;
    top: 248px;
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 20;
    border-radius: 5px;
  }

.version-holder {
    left: 1150px;
    top: 740px;
    position: absolute;
    width: 300px;
    height: 8px;
    z-index:20;
    font-size: 20px;
    letter-spacing: 1.4px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.hwid-text {
    left: 100px;
    top: 21px;
    position: absolute;
    width: 300px;
    height: 8px;
    z-index:20;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #747474;
    text-transform: uppercase;
    font-weight: normal;
}


.launch-text {
    left: 800px;
    top: 605px;
    position: absolute;
    width: 386px;
    height: 13px;
    z-index: 25;
    font-size: 20px;
    letter-spacing: 5px;
    text-shadow: 0px 2px 2px #262626;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.launch-subtext {
    left: 800px;
    top: 640px;
    position: absolute;
    width: 386px;
    height: 13px;
    z-index: 25;
    font-size: 10px;
    letter-spacing: 3px;
    text-shadow: 0px 2px 2px #262626;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.launch-button {
    left: 800px;
    top: 550px;
    position: absolute;
    width: 386px;
    height: 155px;
    z-index: 13;
    cursor: pointer;
}

@font-face {
    font-family: Bender;
    src: url('https://fonts.hyplar.ml/bender/bender.regular-webfont.woff2') format('woff2'),
    url('https://fonts.hyplar.ml/bender/bender.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}